! Colors
#include ".Xresources.d/colors-base16-ocean"
!#include ".Xresources.d/colors-palendrome"
!#include ".Xresources.d/colors-one-dark"
!#include ".Xresources.d/colors-breeze-dark"

! Font Settings
#include ".Xresources.d/fonts"

! URxvt
#include ".Xresources.d/urxvt"
